<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CloudGo-IO</title>
  <link rel="shortcut icon" href="../static/img/go.jpg">

  <!-- Source Library -->
  <!-- jQuery -->
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <!-- Semantic -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>

  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        <img class="logo" src="../static/img/go.jpg">
        CloudGo-IO
      </a>
      <a href="#" class="item">Index</a>
    </div>
  </div>

  <div class="ui main text container">
    <h1 class="ui header">CloudGo-IO Index Template</h1>
    <table class="ui celled table">
      <thead>
        <tr class="center aligned">
          <th>Email</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr class="center aligned">
          <td>{{.Email}}</td>
          <td>{{.Password}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

<!-- Custom Library -->
<link href="../static/css/index.css" rel="stylesheet">
<script src="../static/js/index.js"></script>

</html>